* {
    margin:0;
    box-sizing: border-box;
}
html{
    width:100%;
    height:100%;
    font-size: 16px;    
    font-family: 'Open Sans', helvetica, arial, sans-serif
}
body{
    width:100%;
    height:100%;
    padding:50px 15px;
    background: #fafafa;
    background: url('../images/bg2.jpg')  no-repeat fixed center;
}
.topNavbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    line-height:50px;
    padding:0 30px;
    color:#FFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #cccccc;
    background: #4d5b76;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d5b76), color-stop(1, #6f80a1));
    background: -ms-linear-gradient(bottom, #4d5b76, #6f80a1);
    background: -moz-linear-gradient(center bottom, #4d5b76 0%, #6f80a1 100%);
    background: -o-linear-gradient(bottom, #4d5b76, #6f80a1);
    z-index: 100;
    opacity: .85;
}
.topNavbar h3{
    margin: 0;
    font-weight: 400;
    line-height: 50px;
}

.loginContainer{
    max-width:400px;
    margin:5rem auto;
    border: 1px solid #ccc;
    background: rgba(255,255,255,.55);
    border-radius: 3px;
}
.loginContainer .title{
    border-bottom: 1px solid #ccc;
    border-left: none;
    color: #333;
    display: block;
    margin-bottom: 0px;
    padding:10px 15px;
    text-shadow: none;
    text-transform: none;
    font-size: .85em;
    line-height: 1.5em;
    /*background: #efefef;*/
    /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));*/
    /*background: -ms-linear-gradient(bottom, #efefef, #fafafa);*/
    /*background: -moz-linear-gradient(center bottom, #efefef 0%, #fafafa 100%);*/
    /*background: -o-linear-gradient(bottom, #efefef, #fafafa);*/
    background: rgba(255,255,255,.55);
    box-shadow: inset 0px 1px 1px white;
}
.content{
    padding:10px 15px;
}
.content input{
    width:100%;
    margin-bottom: 15px;
    background: rgba(255,255,255,.55);
}
.operate{
    height: 38px;
    line-height: 38px;
    margin: 0 15px 15px 15px;
}
.operate>label{
    cursor:pointer;
    margin-bottom:0;
    vertical-align: middle;
}
.operate button{    
    float:right;
    border: 1px solid #363d4a;
    background-color: #414959;
    cursor:pointer;
}
.operate button:hover,
.operate button:active,
.operate button:hover:focus{
    background-color: #414959!important;
    box-shadow:none!important;
}